/*THIS IS THE CSS FILE FOR THE PAGE*/

/*THIS BODY HOLDS THE BACKGROUND COLOR AND IMAGE*/
body {
    background-color:#596365;
    /*background-image: url('https://t3.ftcdn.net/jpg/01/09/93/84/360_F_109938452_lyfzlslq2nDMMxmnxVZUIsD2UujLKsbw.jpg');*/
    background-repeat: repeat;
}
/*----------------------------------*/

/*THIS CONTAINER HOLDS THE LEFT AND RIGHT SIDES OF THE PAGE*/
.container {
    height: 900px;
    width: 700px;
    /*background-color: fuchsia;*/
    border-radius: 25px;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 25px;
}
/*----------------------------------*/

/*THIS SECTION HOUSES THE LEFT SIDE OF THE PAGE*/
.left-side {
    height: 100%;
    width: 25%;
    /*background-color: white;*/
    border-radius: 25px;
    margin: 0 auto;
    float: left;
    padding: auto;
}

.badge {
    height: 15%;
    width: 100%;
    background-color: #f2e20e;
    border-radius: 25px;
    margin-top: 10px;
    box-shadow: 5px 5px;
}

.nav-content {
    height: 85%;
    width: 100%;
    background-color: #f50989;
    border-radius: 25px;
    margin-top: 10px;
    box-shadow: 5px 5px;
}
/*----------------------------------*/

/*THIS SECTION HOUSES THE RIGHT SIDE OF THE PAGE*/
.right-side {
    height: 100%;
    width: 75%;
    /*background-color: white;*/
    border-radius: 25px;
    margin: 0 auto;
    float: right;
    padding: auto;
}

.header {
    height: 15%;
    width: 100%;
    background-color: #00ff00;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 5px 5px;
}

.content {
    height: 85%;
    width: 100%;
    background-color: #0acbf1;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 5px 5px;
}
/*----------------------------------*/
